* {
  box-sizing: border-box;
  margin: 0;
}
* .page1 {
  width: 100%;
  height: 120vh;
  background-image: url("../img/7.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
* .page1 .text {
  z-index: 2;
  width: 60%;
}
* .page1::before {
  content: " ";
  background-color: rgba(221, 221, 221, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
* .page2 img {
  width: 100%;
  -webkit-clip-path: circle(35% at 50% 50%);
          clip-path: circle(35% at 50% 50%);
  z-index: 1;
}
* .page2 .boy {
  position: relative;
}
* .page2 .boy::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  top: 18%;
  left: 20%;
  border: 3px solid rgba(226, 209, 195, 0.5);
  background-color: #e2d1c3;
  border-radius: 50%;
}
* .page2 .girl {
  position: relative;
}
* .page2 .girl::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  top: 18%;
  left: 20%;
  border: 3px solid rgba(243, 210, 210, 0.5);
  background-color: #f3d2d2;
  border-radius: 50%;
}
* .page3 {
  height: 100vh;
  background-image: url("/img/9.jpg");
}