body{
  margin: 0;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.page1{
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-image: url("/Swedding/img/9.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .write{
    width: 400px;
  }
  .arrow {
    // width: 60%;
    animation: moveClip 5s forwards infinite;
  }
  @keyframes moveClip {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
  }
  #play{
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 1;
  }   
}
.page1::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.page2{
  background-image: url("/Swedding/img/紙背景.jpg");
  background-size: cover;
  overflow: hidden;
  .content{
    height: 100vh;
    background-image: url("/Swedding/img/黑色禮服去背.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contentImg{
      padding-top: 50px;
      height: 90%;
    }
  }
  .png3{
    width: 400px;
    position: absolute;
    right: -180px;
    top: -200px;
  }
  .png4{
    width: 400px;
    position: absolute;
    left: -180px;
    bottom: -200px;
  }
  .png5{
    width: 400px;
    position: absolute;
    right: -180px;
    bottom: -1150px;
  }
  .png6{
    width: 400px;
    position: absolute;
    left: -180px;
    bottom: -1950px;
    z-index: 3;
  }
  .dresscode{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .dresscodeImg{
      width: 70%;
    }
    .svgContainer{
      display: flex;
      justify-content: space-between;
      svg{
        margin-right: 20px;
      }
    }
    .dresscodeText{
      width: 50%;
    }
    .dressTextPhone{
      display: none;
    }
  }
  .joinLine{
    height: 100vh;
    background-image: url("/Swedding/img/去logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    position: relative;
    .phone{
      width: 23%;
      margin: 0 50px;
    }
    a{
      width: 30%;
      position: relative;
      .line{
        width: 100%;
        margin-bottom: 100px;
      }
      .click{
        width: 18vw;
        position: absolute;
        bottom: 9vw;
        left: 7.5vw;
      }
    }
    .centerImg{
      width: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: calc(50% - 150px);
      bottom: 10px;
      .meet{
        width: 200px;
      }
    }
  }
  .joinLinePhone{
    display: none;
  }
}
@media (max-width :767px) {
  .page1{
    height: 180vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/Swedding/img/手機版喜帖.jpg");
    position: relative;
    .write{
      display: none;
    }
    .arrow{
      width: 30vw;
      height: 100px;
    }
    #play{
      width: 13vw;
      height: 13vw;
      background-color: rgb(255, 255, 255);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      right: 44vw;
      top: 155vw;
      z-index: 1;
    }  
  }
  .page1::after{
    background: none;
  }
  .page2{
    .png3{
      width: 50vw;
      right: -20vw;
      top: -15vw;
    }
    .png4{
      width: 50vw;
      left: -20vw;
      top:230vw;
    }
    .png5{
      width: 50vw;
      right: -20vw;
      bottom: -270vw;
      z-index: 3;
    }
    .png6{
      width: 50vw;
      left: -20vw;
      bottom: -450vw;
    }
    .content{
      height: 260vw;
      background-image: url("/Swedding/img/手機版黑禮服去背.png");
      background-size: cover;
      background-position: bottom;
      .contentImg{
        padding-top: 100px;
        width: 80vw;
        height: auto;
      }
    }
    .dresscode{
      height: auto;
      .dresscodeImg{
        width: 80%;
        padding-top: 80px;
      }
      .svgContainer{
        display: flex;
        flex-direction: column;
        svg{
          margin: 0 0 20px 0;
        }
      }
      .dresscodeText{
        display: none;
      }
      .dressTextPhone{
        display: block;
        width: 90%;
        padding-bottom: 100px;
      }
    }
    .joinLine{
      display: none;
    }
    .joinLinePhone{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: url("/Swedding/img/lastImg.jpg");
      background-size: cover;
      background-position: center;
      position: relative;
      .phone{
        width: 70%;
        z-index: 2;
      }
      a{
        display: flex;
        justify-content: center;
        z-index: 2;
        position: relative;
        .line{
          width: 60%;
        }
        .click{
          position: absolute;
          top: 18vw;
          width: 33vw;
          left: 36vw;
        }
      }
    }
    .joinLinePhone::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5); /* 50% transparent gray */
      z-index: 1;
    }
  }
}
