*{
    box-sizing: border-box;
    margin: 0;
}
.page1 {
width: 100%;
height: 110vh;
background-image: url("../img/7.jpg");
background-size: cover;
background-position: bottom;
opacity: 0.5;
}
.page2 {
    img{
        width: 100%;
        clip-path: circle(35% at 50% 50%);
        z-index: 1;
    }
    .boy{
        position: relative;
    }
    .boy::after{
        z-index: -1;
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        top: 18%;
        left: 20%;
        border: 3px solid rgba($color: #e2d1c3, $alpha: 0.5);
        background-color: #e2d1c3;
        border-radius: 50%;
    }
    .girl{
        position: relative;
    }
    .girl::after{
        z-index: -1;
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        top: 18%;
        left: 20%;
        border: 3px solid rgba($color: #f3d2d2, $alpha: 0.5);
        background-color: #f3d2d2;
        border-radius: 50%;
    }
}

