body{
  margin: 0;
}
.page1{
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/9.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .write{
    width: 400px;
  }
  svg {
    // width: 60%;
    animation: moveClip 5s forwards infinite;
  }
  @keyframes moveClip {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
  }   
}
.page1::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.page2{
  background-image: url("/img/紙背景.png");
  background-size: cover;
  overflow: hidden;
  .content{
    height: 100vh;
    background-image: url("/img/黑色禮服去背.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contentImg{
      padding-top: 50px;
      height: 90%;
    }
  }
  .png3{
    width: 400px;
    position: absolute;
    right: -180px;
    top: -200px;
  }
  .png4{
    width: 400px;
    position: absolute;
    left: -180px;
    bottom: -200px;
  }
  .png5{
    width: 400px;
    position: absolute;
    right: -180px;
    bottom: -1150px;
  }
  .png6{
    width: 400px;
    position: absolute;
    left: -180px;
    bottom: -1950px;
    z-index: 1;
  }
  .dresscode{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .dresscodeImg{
      width: 70%;
    }
    .svgContainer{
      display: flex;
      justify-content: space-between;
      svg{
        margin-right: 20px;
      }
    }
    .dresscodeText{
      width: 50%;
    }
  }
  .joinLine{
    height: 100vh;
    background-image: url("/img/去logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    position: relative;
    .phone{
      width: 23%;
      margin: 0 50px;
    }
    .line{
      width: 25%;
      margin-bottom: 100px;
    }
    .centerImg{
      width: 30%;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: calc(50% - 150px);
      bottom: 10px;
      .thanku{
        width: 300px;
      }
      .meet{
        width: 300px;
      }
    }
  }
  .joinLinePhone{
    display: none;
  }
}
@media (max-width :767px) {
  .page1{
    height: 75vw;
    background-size: cover;
    background-repeat: no-repeat;
    .write{
      width: 30vw;
    }
    svg{
      width: 30vw;
      height: 100px;
    }
  }
  .page2{
    .png3{
      width: 50vw;
      right: -20vw;
      top: -15vw;
    }
    .png4{
      width: 50vw;
      left: -20vw;
      top:230vw;
    }
    .png5{
      width: 50vw;
      right: -20vw;
      bottom: -230vw;
    }
    .png6{
      width: 50vw;
      left: -20vw;
      bottom: -420vw;
    }
    .content{
      height: 260vw;
      background-image: url("/img/手機版黑禮服去背.png");
      background-size: cover;
      background-position: bottom;
      .contentImg{
        padding-top: 100px;
        width: 80vw;
        height: auto;
      }
    }
    .dresscode{
      height: auto;
      .dresscodeImg{
        width: 80%;
        padding-top: 80px;
      }
      .svgContainer{
        display: flex;
        flex-direction: column;
        svg{
          margin: 0 0 20px 0;
        }
      }
      .dresscodeText{
        width: 80%;
        padding-bottom: 100px;
      }
    }
    .joinLine{
      display: none;
    }
    .joinLinePhone{
      display: flex;
      flex-direction: column;
      align-items: center;
      .phone{
        width: 80%;
      }
      .line{
        width: 80%;
      }
      .centerImg{
        width: 50%;
        img{
          width: 100%;
        }
      }
      .lastImg{
        width: 100%;
      }
    }
  }
}
